<h2> <%= @restaurant.name %> </h2>

<p> Where? <%= @restaurant.address %> </p>

<p> Cusine Type: <%= @restaurant.category %> </p>

<p>Phone number: <%= @restaurant.phone_number %> </p>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<ul class="m-3">
  <% @restaurant.reviews.each do |review| %>
    <li class="card">
      <%= review.content %>
      <br>
      Rating: <%= review.rating%> star
    </li>
  <% end %>

</ul>
