<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar nvbar-light">
      <%= link_to "Home", restaurants_path  %>
      <%= link_to 'Add a Restaurant', new_restaurant_path %>
    </nav>
    <%= yield %>
  </body>
</html>
